@import "tailwindcss";
@config "../../tailwind.config.ts";

body {
  font-family: var(--font-pretendard), sans-serif;
  @apply bg-bg_white;
}

/* 가로/세로 스크롤바 숨기기 클래스 (Tailwind v4 호환) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
